* {
  margin: 0;
  padding: 0;
}

body { 
	background-color: #b3e5fc;
	overflow-x: hidden;
	font-family: sans-serif;
}

canvas {
  display: inline-block;
  position: absolute;
  left: 30%;
  top: 11%;
}

form {
	display: inline-block;
	position: absolute;
	top: 160px;
	left: -750px;
	background-color: #ffffff;
	width: 56%;
	height: 47%;
	border-radius: 4px;
	z-index: 2;
	box-shadow: 0 6px 6px gray;
}

.top {
	width: 100%;
	height: 25px;
	background-color: #0288d1;
	border-radius: 4px 4px 0 0;
	color: #ffffff;
	font-weight: bold;
	font-size: 25px;
	text-align: right;
}

form input { 
	margin: 5% 3% 1% 10%;
	width: 35%;
	height: 10%;
	padding: 4px;
	border: none; 
	border-radius: 3px;
	background-color: #81d4fa;
	font-weight: bold;
	color: #ffffff;
}

::-webkit-input-placeholder {
    color: #ffffff;
}

.or { 
	color: #212121;
	margin: 0 20px 0 20px;
	font-weight: bold; 
}

#loginForm { left: -60%; }

.send, .congratulation button {
	margin: 0;
	width: 13%;
	height: 13%;
	border: none;
	border-radius: 3px;
	background-color: #ff5252;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
}

.congratulation { 
	left: 400px;
	top: 150px;
	height: 25%;
	width: 25%;
    background-color: #00e5ff; 
    box-shadow: 0 6px 5px gray;
}

.congratulation button {
	position: relative;
	top: 270px;
	left: 42%;
	font-weight: bold;
	background-color: #00e5ff;
	cursor: pointer;
}

.congratulation h2 {
	position: relative;
	top: 10%;
	left: 36%;
}