* {
  margin: 0;
  padding: 0;
}

body { 
	background-color: #b2edf2;
	overflow-x: hidden; 
}

canvas {
  display: inline-block;
  position: absolute;
  left: 30%;
  top: 11%;
}

div {
	display: inline-block;
	position: absolute;
	top: 160px;
	left: -600px;
	background-color: #0097a7;
	width: 600px;
	height: 250px;
	border-radius: 4px;
	z-index: 2;
}

#black { 
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
	z-index: 1; 
}

div input { 
	margin: 17% 3% 10% 10%;
	width: 35%;
	height: 10%;
	padding: 4px;
	border: none; 
	border-radius: 3px;
	background-color: #fafafa;
}

div button {
	width: 13%;
	height: 13%;
	border: none;
	border-radius: 3px;
	background-color: #e57373;
}

div button:hover {
	cursor: pointer;
	background-color: #ef9a9a;
}

div button:active {
	width: 12%;
	height: 12%;
}