doctype html
html(lang="en")
  head
    title TIC-TAC-TOE
    link(rel="icon" href="img/favicon.ico")
  body
    
    header(class="header")

    form(id="logOut" action='/logout')
      input(id="exit" type="submit" value="Log out")
    
    form(action="/room1")
      input(id="room1" type="submit" class="room" value="room1")
    
    form(action="/room2")
      input(id="room2" type="submit" class="room" value="room2")
    
    form(action="/room3")
      input(id="room3" type="submit" class="room" value="room3")
      
    form(action="/room4")
      input(id="room4" type="submit" class="room" value="room4")
      
    form(action="/room5")
      input(id="room5" type="submit" class="room" value="room5")
    
    form(action="/room6")
      input(id="room6" type="submit" class="room" value="room6")
    
    link(rel="stylesheet" href="css/rooms.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="js/rooms.js")
